.containerCard{
    // background-color: #f1f1f1;
    margin-left: 30px;
    width: 550px;
    display:flex;
}

.card {
    background-color: #c8c8c8;
    width: 50%;
    margin: 5px;
    border-radius: 5px;
}

.buttonSearch {
background-color: #c8c8c8;
    text-align: center;
    border-radius: 5px;
    border-color: #e3e3e3;
    margin: 5px;
}

.buttonDelete {
    background-color: #c8c8c8;
    text-align: center;
    border-radius: 5px;
    border-color: #e3e3e3;
    margin: 5px;

}