.title{
    margin: 25px;
}

h4 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: grey;
    
}

.containerSearch {
  width: 900px;
  border: 2px solid;
  border-color: #c2c2c2;
  border-radius: 5px;
  margin: 0 0 0 30px;
}


@media all and (min-width: 480px) and (max-width: 768px) { 
    h4 { margin: 0 0 0 5px; }
    }
    
  @media all and (max-width: 480px) { 
    h4 { margin: 0 0 0 25px; }
    .containerSearch { width: 800px; margin: 20px 0 0 55px;}
  }