.container{
  margin-left: 10px;
    img{
      height: 70px;
    }
  }
  
  .formulary{
    display: flex;
  }
  
  .containerInput{
    display: flex;
    width: 35%;
    margin-right: 10px;
  }
  
  .inputSearch{
    margin: 20px 0 20px 20px;
    width: 20%;
    height: 40px;
    background-color: #c8c8c8;
    text-align: center;
    border-radius: 5px;
    border-color: #e3e3e3;
  }
  
  .containerButton{
    display: flex;
    width: 35%;
    
  }
  
  .buttonSearch{
    width: 7%;
    height: 45px;
    background-color: #c8c8c8;
    text-align: center;
    border-radius: 5px;
    border-color: #e3e3e3;
    padding: 15px 0 20px 5px;
  }
  
  .maps {
    margin: 0 0 20px 20px;
    width: 550px;
    height: 550px;
  }