.container{
  margin-left: 10px;
    img{
      height: 70px;
    }
  }
  
  .formulary{
    display: flex;
  }
  
  .containerInput{
    display: flex;
    width: 35%;
    margin-right: 10px;
  }
  
  .inputSearch{
    margin: 20px 10px 20px 20px;
    width: 600px;
    height: 40px;
    background-color: #c8c8c8;
    text-align: center;
    border-radius: 5px;
    border-color: #e3e3e3;
  }
  
  .containerButton{
    display: flex;
    width: 35%;
    
  }
  
  .buttonSearch{
    width: 7%;
    height: 45px;
    background-color: #c8c8c8;
    text-align: center;
    border-radius: 5px;
    border-color: #e3e3e3;
    padding: 15px 0 20px 5px;
  }
  
  .maps {
    margin: 0 0 20px 20px;
    width: 1350px;
    height: 400px;
  }

  @media all and (min-width: 768px) and (max-width: 992px) { 
    .maps { width: 750px ; height: 550px; }
    .inputSearch { width: 400px ; height: 50px;}
    .buttonSearch { width: 143px ; height: 52px; margin:0 0 0 5px; }
    }

  @media all and (min-width: 480px) and (max-width: 768px) { 
    .maps { width: 550px ; height: 550px; }
    .inputSearch { width: 400px ; height: 50px;}
    .buttonSearch { width: 143px ; height: 52px; margin:0 0 0 5px; }
    }
    
  @media all and (max-width: 480px) { 
    .maps { width: 600px ; height: 490px; margin: 0 0 0 50px}
    .inputSearch { width: 455px ; height: 40px;  margin: 10px 0 10px 125px;}
    .buttonSearch { width: 400px ; height: 45px; margin: 0 0 25px 150px; }
  }