.container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 
 .logo {
     height: 100px;
     width: 50%;
     display: flex;
     justify-content: center;
 
     img {
         height: 70px;
     }
 }

 //input&button

.containerSearch {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.search {
    width: 100%;
    display: flex;
}

.inputSearch{
    padding: 10px;
    width: 600px;
    height: 30px;
    background-color: #c8c8c8;
    text-align: center;
    border-radius: 5px;
    border-color: #e3e3e3;
    margin-right: 20px;

  }

.button {
    padding-right: 45px;
    display: flex;
}

.buttonSearch {
    background-color: #d3d3d3 ;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    border-color: #d3d3d3;
    font-size: 100%;
}

@media all and (min-width: 480px) and (max-width: 768px) { 
    .search { display: flex; flex-direction: column}
    .inputSearch { margin-bottom: 10px;}
    .buttonSearch { width:400px; height: 40px; margin-left: 110px;}
    }
    
  @media all and (max-width: 480px) { 
    .search { display: flex; flex-direction: column}
    .inputSearch { width:300px; height: 30px; margin-bottom: 10px;}
    .buttonSearch { width:300px; height: 30px; margin-left: 10px;}
  }